<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Listing articles</h1>
 
<table>
      
    <tr>
            
        <th>Title</th>
            
        <th>Text</th>
          
    </tr>
     
        
    <tr th:each="article : ${articles}">
              
        <td th:text="${article.title}">title</td>
              
        <td th:text="${article.text}">text</td>
              
        <td><a href="#" th:href="@{/articles/{id}(id=${article.id})}">Show</a></td>
            
    </tr>
</table>
</body>
</html>